 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

header {
  text-align: center;
  font-family: 'Cabin Condensed', sans-serif;
}

header h1 {
  font-size: 40px;
  margin-bottom: 0;
}

.container {
  outline: solid #90B6F0 1px;
  width: 70%;
  height: 590px;
  margin: 0 auto;
}

.user-info {
  display: inline-block;
  width: 300px;
  height: 590px;
  background: #90B6F0;
  padding-bottom: 20px;

}

.user-info img {
  width: 200px;
  border-radius: 10px;
  margin: 10px 17%;
  display: inline-block;
  position: relative;
}

.username {
  text-align: center;
  font-size: 40px;
  margin: 0;
  font-family: 'Cabin Condensed', sans-serif;
}

.email {
  font-size: 15px;
  margin: 0;
  text-align: center;
}

.inputs {
  position: absolute;
  left: 38%;
  bottom: 75%;
}

.posts-div {
  outline: solid #90B6F0 1px;
  display: inline-block;
  width: 65%;
  height: 470px;
  float: right;
  margin: 100px 22px 0;
  overflow: scroll;

}

.all-posts {
  width: 100%;
  list-style: none;
  display: inline-block;
  padding: 0;
}

.all-posts li {
  padding: 10px 0;
  border-bottom: solid #DFE0E2 1px;
}

.username-li {
  font-weight: bold;
  padding-left: 5px;
}

.time-li {
  display: block;
  float: right;
  padding: 3px 5px 0 0;
  color: #C7C7C6;
  font-size: 12px;
}
